<div>
    <p><b>Filippo_Gorini hornetti</b></p>
    <p>$ show links</p>
    <div class="response">
        <a href="{{ linkGitHub }}" target="_blank">
            <p>{{ referenceGitHub }}</p>
        </a>
        <a href="{{ linkLinkedin }}" target="_blank">
            <p>{{ referenceLinkedin }}</p>
        </a>
        <a href="{{ linkCodepen }}" target="_blank">
            <p>{{ referenceCodepen }}</p>
        </a>
        <a href="{{ linkCV }}" target="_blank">
            <p>{{ referenceCV }}</p>
        </a>
    </div>
</div>
