<div>
    <p><b>github\horn></b> show links</p>
    <a href="{{ linkGitHub }}" target="_blank">
        <p>{{ referenceGitHub }}</p>
    </a>
    <a href="{{ linkLinkedin }}" target="_blank">
        <p>{{ referenceLinkedin }}</p>
    </a>
    <a href="{{ linkCodepen }}" target="_blank">
        <p>{{ referenceCodepen }}</p>
    </a>
    <a href="{{ linkCV }}" target="_blank">
        <p>{{ referenceCV }}</p>
    </a>
</div>
