<div>
    <p><b>Filippo_Gorini hornetti</b></p>
    <p>$ show projects and works</p>
    <div class="responde_wrapper">
        <a href="{{ linkScbs }}" target="_blank">
            <p>{{ referenceScbs }}</p>
        </a>
        <a href="{{ linkSales }}" target="_blank">
            <p>{{ referenceSales }}</p>
        </a>
        <a href="{{ linkSalesFae }}" target="_blank">
            <p>{{ referenceSalesFae }}</p>
        </a>
        <a href="{{ linkInchiostro }}" target="_blank">
            <p>{{ referenceInchiostro }}</p>
        </a>
    </div>
</div>
