{% extends 'default.twig' %}

{% block page %}
	
	<div>
	    <p><b>github\horn></b> bio init</p>
	    <h1>{{ myName }}</h1>
	    <h2>{{ myDescription }}</h2>
	    <h3>{{ myBirth }}</h3>
	    <h4>{{ myBio }}</h4>
	    <h4>{{ myMail }}</h4>
	</div>
	
{% endblock %}