{% extends 'default.twig' %}

{% block page %}
	
	<div>
		<p><b>Filippo_Gorini hornetti</b></p>
		<p>$ bio init</p>		
    	<div class="responde_wrapper">
	    	<h1>{{ myName }}</h1>
	    	<h2>{{ myDescription }}</h2>
	    	<h3>{{ myBirth }}</h3>
	    	<h4>{{ myBio }}</h4>
	    	<h4>{{ myMail }}</h4>
    	</div>
	</div>
	
{% endblock %}