<div>
    <div><b>github\horn></b> show link</div>
    <span>
        <a href="{{ linkGitHub }}" target="_blank">
            <p>{{ referenceGitHub }}</p>
        </a>
    </span>
    <span>
        <a href="{{ linkLinkedin }}" target="_blank">
            <p>{{ referenceLinkedin }}</p>
        </a>
    </span>
    <span>
        <a href="{{ linkCodepen }}" target="_blank">
            <p>{{ referenceCodepen }}</p>
        </a>
    </span>
    <span>
        <a href="{{ linkCV }}" target="_blank">
            <p>{{ referenceCV }}</p>
        </a>
    </span>
</div>
